@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html {
    scroll-behavior: smooth;
    width:100%;
    overflow-x: hidden;
 }

/*Cover page*/

.masthead {
    top: 0;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
}

#background {
    content: "";
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-image: url("../images/background.jpg");
    background-size:cover;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    z-index: -2;
}

@keyframes fadeIn {
    0% {opacity: 1;}
    100% {opacity: 0.5;}
}

#onTop {
    text-align: center;
    padding: 3%;
    position: relative;
    background-color: #58a27b;
}

.masthead h1, #onTop {
    animation: display 1s;
    -webkit-animation: display 1s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    visibility: hidden;
    color:#fff;
}

@keyframes display {
    0% {opacity: 0; visibility: visible;}
    50% {opacity: 0.5;}
    100% {opacity: 1; visibility: visible;}  
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.masthead button {
    text-decoration: none;
    width: 13em;
    height: 3em;
    border-radius: 5em;
    padding: 1%;
    background-color: #66bf90;
    margin-top: 3%;
    visibility: hidden;
    -webkit-animation: popUp 1s;
    animation: popUp 1s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    box-shadow: 0.5em 0.5em 0.7em #58a27b;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    position: relative;
    outline: none;
    text-transform: uppercase;
}

.masthead button::before {
    content: '';
      border-radius: 1000px;
      min-width: calc(15em + 1em);
      min-height: calc(4em + 1em);
      border: 0.5em solid #66bf90;
      box-shadow: 0 0 2em #58a27b;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
}

.masthead button::after {
    content: '';
    width: 2em; 
    height: 2em;
    border-radius: 100%;
    border: 0.5em solid #66bf90;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: ring 1.5s infinite;
    animation: ring 1.5s infinite;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}

@keyframes popUp {
    0% {opacity:0.5;}
    100% {visibility: visible;}
}

.masthead button a {
    text-decoration: none;
    color:#000;
}

.masthead button:hover {
    background-color: #58a27b;
    transform: translateY(-6px);
}

.masthead button:hover::before, .masthead button:focus::before {
    opacity: 1;
  }

.masthead button:hover::after, .masthead button:focus::after {
    animation: none;
    display: none;
  }

.mainTitle {
    color:#fff;
    background-color: #58a27b;
    margin-bottom: 1em;
}


.text {
    background-color: #f4f9f6e4;
    padding: 2%;
    font-size: 1.1em;
}

.text p { 
    font-family: 'Oxygen', sans-serif;
}


#First, #Second, #Third, #Forth, #Fifth, #Sixth, #Last {
    position:relative;
    height: 100vh;
    min-height: 500px;
}

/*First Section*/

#First .text p {
    padding-left: 2%;
}

#First .text {
    height: 90%;
}


#First .mainTitle {
    margin-left:-30%;
    padding-left: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (min-width:992px) {
    #First {
        margin: 2%;
        padding: 2%;
    }
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
#CEvalue {
    -webkit-animation: CEcounter 5s normal forwards;
    animation: CEcounter 5s normal forwards;
    counter-reset: num var(--num);
    font: 800 2em system-ui;
    padding: 2rem;
}
#CEvalue::after {
content: counter(num);
}
  
@keyframes CEcounter {
from {
    --num: 0;
}
to {
    --num: 1509;
}
}

#CPvalue {
    -webkit-animation: CPcounter 5s normal forwards;
    animation: CPcounter 5s normal forwards;
    counter-reset: num var(--num);
    font: 800 2em system-ui;
    padding: 2rem;
    }
#CPvalue::after {
content: counter(num);
}
    
@keyframes CPcounter {
from {
    --num: 0;
}
to {
    --num: 2386;
}
}

.cards h1 {
    text-align: center;
    margin-bottom: 1em;
}

.cards h2 {
    font-size: x-large;
    text-align: center;
}

.values {
    margin-top:-5vh;
    text-align: center;
}

#eventsCard {
    background-color: #f0cb69;
    margin: auto;
    width: 40%;
    border-radius: 15%;
    padding:4%;
    height:20vh;
}

#propertiesCard {
    background-color: #ab91c5;
    margin: auto;
    width: 40%;
    margin-top: 3em; 
    border-radius: 15%;
    padding:4%;
    height: 20vh;
}

/*Second section*/

#Second {
    padding: 10%; 
    padding-top: 1%;
}

#Second h2, h3, #Sixth h2 {
    text-align: center;
}

#Second h2, #Sixth h2 {
    padding: 1%;
}

#Second figure {
    margin-top: 3%;
}

#Second img {
    max-width: 60%;
    margin: auto;
    display: flex;
}

.center {
    text-align: center;
}

/*Third section*/

#Third .mainTitle {
    text-align: center;
    padding: 1%;
}

#Third .text, #Fifth .text {
    margin:auto;
    width: 95%;
    height: 75%;
}

#timerange {
    margin: auto;
    width: 80%;
    height: 60%;
}

@media screen and (min-width:992px) {
    #Third .text {
        padding-left:10%;
        padding-right:10%;
    }

    #timerange {
        margin-left: 10%;
    }
}

/*Forth section*/

#Forth .mainTitle {
    margin-right: -30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#sitesperregion, #institutesperregion {
    width:  95%;
    height: 35vh;
    display: block;
    position: relative;
    margin: auto;
    padding: 2%;
    border: #000 solid;
    border-width: 0.05em;
}

#sitesperregion {
    margin-bottom: 2%;
}

#Forth {
    margin: 5%;
    margin-top: 3%;
}

/*Fifth section*/
#sitespertoscana, #sitesperlazio {
    height: 40vh;
    width: 100%;
    border: #000 solid;
    
 border-width: 0.05em;
}

#institutespertoscana {
 height: 25vh;
 width: 100%;
 border: #000 solid;
 border-width: 0.05em;
 margin: 2%;
 margin-bottom: 0;
}

#Fifth .mainTitle, #Sixth .mainTitle {
    text-align: center;
    padding: 1%;
}

#Fifth .content {
    margin: 5%;
}

#Fifth .text {
    margin: 3%;
}

/*Sixth section*/
#Sixth .bk-Figure {
    height: 50vh;
    width: 80%;
    margin:5%;
}

#Sixth .text {
   margin-left:5%;
   margin-right:5%;
}

/*Last section*/
#Last {
    margin-left: 10%;
    margin-right: 10%;
    padding-top:10%;
    text-align: center;
}

#Last .text {
    height: 50vh;
}

#end {
    text-decoration: none;
    width: 13em;
    height: 3em;
    border-radius: 5em;
    padding: 1%;
    background-color: #66bf90;
    cursor: pointer;
    text-transform :uppercase;
    margin: 5%;
}

/*Progress container*/

.progress-container {
    position: fixed;
    top: 95vh;
    width: 100%;
    margin: auto;
  }

ul.myBar {
    height: 1em;
    list-style: none;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin:auto;
    display: flex;
  }
  
  ul.myBar::after {
    content: "";
    position: absolute;
    background: #dc5356;
    width: 73%;
    height: 0.4em;
    margin: 0.3em;
    z-index:-1;
  }
  
#progression {
    content: "";
    position: absolute;
    background: #58a27b;
    width: 0;
    max-width: 73%;
    text-align: left;
    height: 0.4em;
    margin: 0.3em;
    z-index: 1;
}

@media screen and (max-width:992px) {
#progression {
    left: 9em;
}
}

ul.myBar li {
    background: #dc5356;
    color: #dc5356;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    z-index: 2;
    position: relative;
    cursor: pointer;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

ul.myBar li.stop {
background: #58a27b;
animation: none;
}

@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

.hide {
    display: none;
}